@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: NanumGothic, -apple-system, DungGeunMo, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "DungGeunMo";
  font-weight: 200;
  src: url("../public/fonts/DungGeunMo.ttf") format("truetype");
}
